 .u-section-1 {
  min-height: 920px;
}

.u-section-1 .u-slider-1 {
  min-height: 920px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/381886-svetik.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  background-image: url("images/1458151114.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  background-image: url("images/1621486833_20-phonoteka_org-p-temno-chernii-fon-29.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
  }
} .u-section-2 {
  background-image: url("images/2021-11-11143416.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 2353px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  font-size: 1.875rem;
  background-image: none;
  margin: 200px 553px 0 44px;
}

.u-section-2 .u-group-1 {
  width: 334px;
  min-height: 116px;
  margin: 1787px auto 58px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  margin: 30px 0 0 16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1940px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 397px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 15px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1486px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 177px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }
}

.u-section-2 .u-text-1 {
  transition-property: fill, color, background-image, background-color, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform !important;
}